*{
    font-family: Courier;
    box-sizing: border-box;
}

div{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

p{
    color: red;
    font-weight: bold;
    font-size: 25px;
}

