/**
 * style.css 
 * 
 * This file customises the style of the outputs that are added to the website through the
 * DOM manipulation in the script/function.js file
 */
 body{
    background-color: rgb(53, 53, 53);
 }
 
 h1{
    color: rgb(250, 249, 245);
    font-size: 50px;
 }

.container, .name-proj{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product-list{
    letter-spacing: 2px;
    text-align: center;
    background-color:rgb(250, 249, 245);
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 20px 10px;
    width: 50%;
}

td{
    padding: 5px 10px;
    border-radius: 10px;
}

.title-bold{
    font-weight: bolder;
    font-size: 20px;
}

.align-left{
    text-align: left;
}

.new{
    background-color: rgb(0, 155, 0);
}

.valid{
    background-color: yellow;
}

.old{

    background-color: orange;

}

.expired{

    background-color: red;

}

